.number {
  font-size: 20px;
  text-rendering: auto;
  color: rgba(244, 240, 240, 0.838);
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  line-height: 52px\9;/*为了兼容IE8*/
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  cursor: text;
  background-color: transparent;
  margin: 0em;
  padding: 1px 2px;
  border-width: 0px;
  border-style: inset;
  /* border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133)); */
  border-image: initial;
  height: 36px;
  width: 115px;
  -webkit-rtl-ordering: logical;
  -webkit-writing-mode: horizontal-tb !important;
}

input:focus
{ 
  background-color:rgba(255, 255, 255, 0.15);
  line-height: normal; /*为了兼容谷歌*/
  line-height: 52px\9; /*为了兼容IE8*/
}

.page {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.building-container {
  height: 100vh;
  /* background: url(../images/building_floors.png) 100% no-repeat; */
  background-size: 100%;
  width: 100%;
  overflow-x: hidden;
}

.nav {
  /* height: 100%; */
  background-color: rgba(43, 46, 53, 1);
  /* background-color: rgb(0 2 6 / 83%);
  box-shadow: 3px 0px 18px 0px rgba(0, 0, 0, 0.3); */
  width: 18%;
  /* overflow-y:scroll; */
  padding-top: 9vh;
  z-index: 100;
  
}
.nav::-webkit-scrollbar {
  width: 2px;
}

.outer1 {
  width: 100%;
  /* height: 896px; */
  padding-top: 20px;
}

.bd1 {
  /* height: 112px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.2); */
  width: 100%;
  /* padding: 9px 0 0 59px; */
}

.outer2 {
  width: 80%;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 5px;
}

.text {
  display: block;
}

.tbox {
  width: 150px;
  height: 35px;
  margin-top:8px;
}

.tline {
  line-height: 31px;
}

.tprop {
  overflow-wrap: break-word;
  white-space: nowrap;
}

.tcolor {
  color: rgba(255, 255, 255, 1);
}

.tcenter {
  text-align: center;
}

.tleft {
  text-align: left;
}

.tfont_s26 {
  font-size: 26px;
}

.tfont_m {
  font-family: SFProDisplay-Medium;
}

.tshadow {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.box1 {
  width: 100%;
  height: 56px;
  margin: 8px 0 0 0px;
}

.icon1 {
  width: 40px;
  height: 40px;
  margin-top: 0px;
}

.box3 {
  width: 50%;
  margin-left: 10px;
}

.tfont_s30 {
  font-size: 30px;
}

.bd2 {
  /* width: 236px;
  height: 50px;
  margin-top: 56px; */
  width: 100%;
  /* height: 50px; */
  margin-top: 20px;
}

.search-container {
  width: 80%;
}

.section2 {
  height: 50px;
  border-radius: 5px;
  background-color: rgba(36, 37, 43, 1);
  box-shadow: inset 2px 2px 1px 0px rgb(0 0 0 / 20%);
  width: 70%;
  padding: 8px 0 0 10px;
}

.section3 {
  width: 100%;
  height: 25px;
}

.outer3 {
  width: 25px;
  height: 25px;
  background: url(../images/fangdajing.png) 0px 0px no-repeat;
  margin-top: 4px;
  background-size: 25px 25px;
}

.outer4 {
  width: 60px;
  height: 45px;
  overflow-wrap: break-word;
  text-align: center;
  white-space: nowrap;
  font-size: 20px;
}

.info2 {
  font-size: 18px;
  font-family: SFProDisplay-Regular;
  color: rgba(107, 109, 113, 1);
  line-height: 21px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 5px;
}

.word1 {
  font-size: 18px;
  font-family: PingFangSC-Regular;
  color: rgba(107, 109, 113, 1);
  line-height: 21px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.section4 {
  height: 50px;
  background: url(../images/go_bg.png) -1px -1px no-repeat;
  background-size: 50px 50px;
}

.txt2 {
  width: 50px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 25px;
  font-family: DINAlternate-Bold;
  white-space: nowrap;
  text-align: center;
  text-shadow: 2px 1px 1px rgb(0 0 0 / 20%);
}

.nav-item {
  width: 100%;
  height: 60px;
}

.nav-container {
  width: 80%;
}

.nav-first {
  margin-top: 40px;
}

.nav-others {
  margin-top: 0px;
}

.nav-margin {
  margin-left: 10%;
  margin-right: 10%;
}

.layer1 {
  width: 35px;
  height: 35px;
  background: url(../images/home.png) -2px -2px no-repeat;
  background-size: 35px 35px;
}

.layer1_g {
  width: 35px;
  height: 35px;
  background: url(../images/home_gray.png) -2px -2px no-repeat;
  background-size: 35px 35px;
}

.tbox1 {
  width: 100px;
  height: 29px;
}
.tfont_s24 {
  font-size: 24px;
}
.ttop {
  margin-top: 5px;
}

.tcolor_gray0 {
  color: rgba(107, 109, 113, 1);
}

.bgcolor_gray {
  background-color: rgba(107, 109, 113, 1);
}


.bd4 {
  width: 150px;
  height: 35px;
  margin: 35px 0 0 43px;
}

.bd5 {
  width: 35px;
  height: 35px;
  background: url(../images/following.png) -2px -2px no-repeat;
  background-size: 35px 35px;
}

.bd5_g {
  width: 35px;
  height: 35px;
  background: url(../images/following_gray.png) -2px -2px no-repeat;
  background-size: 35px 35px;
}

.bd6 {
  width: 145px;
  height: 29px;
  margin: 54px 0 0 42px;
}

.label1 {
  width: 35px;
  height: 29px;
}

.bd7 {
  width: 83px;
  height: 40px;
  margin: 40px 0 0 48px;
}

.group0 {
  width: 35px;
  height: 35px;
  background: url(../images/followed.png) -2px -2px no-repeat;
  background-size: 35px 35px;
}

.group0_g {
  width: 35px;
  height: 35px;
  background: url(../images/followed_gray.png) -2px -2px no-repeat;
  background-size: 35px 35px;
}

.group1 {
  width: 35px;
  height: 35px;
  background: url(../images/hot.png) -2px -2px no-repeat;
  background-size: 35px 35px;
}
.group1_g {
  width: 35px;
  height: 35px;
  background: url(../images/hot_gray.png) -2px -2px no-repeat;
  background-size: 35px 35px;
}

.info4 {
  width: 38px;
  height: 29px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 24px;
  font-family: SFProDisplay-Medium;
  white-space: nowrap;
  line-height: 29px;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  margin-top: 1px;
}

.button-list {
  width: 100%;
}

.button-list-first {
  margin-top: 60px;
}

.button-list-others {
  margin-top: 40px;
}

.btn-container {
  width: 70%;
}

.layer2 {
  height: 68px;
  border-radius: 3.469387755102041px 3.469387755102041px 3.469387755102041px
    3.469387755102041px;
  border: 1px solid rgba(238, 238, 238, 1);
  background-color: rgba(43, 46, 53, 1);
  box-shadow: inset 2px 2px 1px 0px rgba(0, 0, 0, 0.2);
  padding-top: 13px;
  width: 68px;
}

.layer3 {
  width: 32px;
  height: 46px;
}

.layer4 {
  width: 22px;
  height: 22px;
  background: url(../images/mint.png) -2px -2px no-repeat;
  margin-left: 6px;
}

.txt3 {
  width: 32px;
  height: 19px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-family: SFProDisplay-Semibold;
  white-space: nowrap;
  line-height: 19px;
  text-align: left;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  margin-top: 5px;
}

.layer5 {
  height: 68px;
  border-radius: 3.469387755102041px 3.469387755102041px 3.469387755102041px
    3.469387755102041px;
  border: 1px solid rgba(238, 238, 238, 1);
  background-color: rgba(43, 46, 53, 1);
  box-shadow: inset 2px 2px 1px 0px rgba(0, 0, 0, 0.2);
  padding-top: 11px;
  width: 68px;
}

.shadow {
  z-index: 79;
  height: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
}

.word11 {
  width: 12px;
  height: 28px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 24px;
  font-family: DINAlternate-Bold;
  white-space: nowrap;
  line-height: 28px;
  text-align: center;
}

.group2 {
  width: 42px;
  height: 48px;
}

.label2 {
  width: 27px;
  height: 27px;
  margin-left: 10px;
}

.word1 {
  width: 50px;
  height: 20px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-family: SFProDisplay-Semibold;
  white-space: nowrap;
  line-height: 19px;
  text-align: left;
  text-shadow: 1px 1px 1px rgb(0 0 0 / 60%);
  margin-top: 2px;
}

.bd9 {
  width: 192px;
  height: 68px;
  margin: 56px 0 0 22px;
}

.group3 {
  height: 68px;
  border-radius: 3.469387755102041px 3.469387755102041px 3.469387755102041px
    3.469387755102041px;
  border: 1px solid rgba(238, 238, 238, 1);
  background-color: rgba(43, 46, 53, 1);
  box-shadow: inset 2px 2px 1px 0px rgba(0, 0, 0, 0.2);
  width: 68px;
  padding: 12px 0 0 10px;
}

.box2 {
  width: 47px;
  height: 47px;
}

.mod1 {
  width: 26px;
  height: 21px;
  background: url(../images/avatar.png) -3px -3px no-repeat;
  margin-left: 10px;
}

.word5 {
  width: 47px;
  height: 19px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-family: SFProDisplay-Semibold;
  white-space: nowrap;
  line-height: 19px;
  text-align: left;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  margin-top: 7px;
}

.group4 {
  height: 68px;
  border-radius: 5px;
  border: 1px solid rgba(238, 238, 238, 1);
  background-color: rgba(107, 109, 113, 1);
  box-shadow: inset 2px 2px 1px 0px rgba(0, 0, 0, 0.2);
  width: 68px;
  padding: 14px 0 0 13px;
}

.paragraph1 {
  width: 41px;
  height: 40px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-family: SFProDisplay-Semibold;
  line-height: 20px;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  text-overflow: ellipsis;
}

.header {
  z-index: 18;
  height: 9vh;
  background-color: rgba(43, 46, 53, 1);
  box-shadow: 0px 3px 18px 0px rgb(0 0 0 / 30%);
  padding-left: 44px;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 102;
}

.navigation {
  width: 100%;
  /* height: 60px;
  overflow-x: auto;
  margin-top: 10px; */
}

.logo {
  width: 20%;
  height: 22px;
  background: url(../images/logo.png) -4px -4px no-repeat;
  margin-top: 18px;
}

.wallet {
  width: 145px;
  height: 58px;
  /* background: url(../images/wallet.png) -1px -1px no-repeat; */
  border-radius: 10px;
  background-color: #6B6D71;
  
}

.wallet-txt {
  font-size: 18px;
  margin: 0 auto;
  font-family: PingFangSC-Semibold, PingFang SC;
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
}

.profile {
  width: 60px;
  height: 60px;
  background: url(../images/profile.png) 0px 0px no-repeat;
  
}

.btn-margin-1 {
  margin-left: 60%;
}

.btn-margin-2 {
  margin-left: 40px;
}

.img1 {
  z-index: 3;
  position: absolute;
  left: 1588px;
  top: 0;
  width: 332px;
  height: 100%;
}

.section6 {
  z-index: 16;
  height: 361px;
  border-radius: 5px 0 0 0;
  background-color: rgba(43, 46, 53, 1);
  box-shadow: 0px -3px 14px 0px rgba(0, 0, 0, 0.3);
  padding-top: 10px;
  width: 464px;
  position: absolute;
  left: 1456px;
  top: 719px;
}

.bd11 {
  width: 440px;
  height: 327px;
}

.label3 {
  width: 16px;
  height: 16px;
  margin-left: 225px;
}

.section7 {
  height: 307px;
  border-radius: 5px 5px 0 0;
  background-color: rgba(36, 37, 43, 1);
  box-shadow: inset 2px 2px 1px 0px rgba(0, 0, 0, 0.2);
  margin-top: 4px;
  width: 440px;
  padding: 24px 0 0 24px;
}

.group5 {
  width: 167px;
  height: 60px;
}

.info5 {
  width: 167px;
  height: 22px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-family: SFProDisplay-Medium;
  white-space: nowrap;
  line-height: 22px;
  text-align: left;
}

.word6 {
  width: 118px;
  height: 22px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-family: SFProDisplay-Medium;
  white-space: nowrap;
  line-height: 22px;
  text-align: left;
  margin-top: 16px;
}

.bd12 {
  z-index: 114;
  position: absolute;
  left: 203px;
  top: 12px;
  width: 58px;
  height: 11px;
  background: url(../images/down.png) 3px -2px no-repeat;
}

.bd13 {
  z-index: 107;
  height: 58px;
  border-radius: 5px;
  background-color: rgba(64, 67, 73, 1);
  box-shadow: -1px -1px 3px 0px rgba(0, 0, 0, 0.15);
  padding-left: 24px;
  width: 440px;
  position: absolute;
  left: 12px;
  top: 291px;
}

.info6 {
  width: 49px;
  height: 22px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(131, 131, 131, 1);
  font-size: 16px;
  font-family: SFProDisplay-Regular;
  white-space: nowrap;
  line-height: 22px;
  text-align: left;
}

.btn-hand {
  cursor: pointer;
  /* border: 1 solid red; */
}

@keyframes glow {
  from {
      box-shadow: 0 0 10px -10px #a3da0c;
  }
  to {
      box-shadow: 0 0 40px 10px #e73f0ce0;
  }
}

.animation {
  animation: glow 2s infinite alternate;
}