.wallet-main {
    z-index: 181;
    height: 100%;
    background-color: rgb(21 20 20 / 80%);
    right: 0px;
    width: 100%;
    position: absolute;
    top: 0px;
}

.wallet-wrapper {
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    right: 0px;
    width: 20%;
    position: absolute;
    top: 0px;
}

.wallet-container {
    width: 100%;
    height: 100%;
}

.wallet-header {
    height: 75px;
    background-color: rgba(43, 46, 53, 1);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
    width: 100%;
}

.wallet-header-container {
    width: 90%;
    height: 75px;
}

.wallet-icon {
    height: 58px;
    box-shadow: inset 1px 1px 1px 0px rgb(0 0 0 / 20%);
    border-radius: 50%;
    width: 58px;
}

.wallet-icon-img {
    width: 58px;
    height: 58px;
    background: url(../images/wallet.png) 0px 0px no-repeat;
    background-size: 58px 58px;
}

.wallet-title {
width: 78px;
height: 21px;
display: block;
overflow-wrap: break-word;
color: rgba(255, 255, 255, 1);
font-size: 18px;
font-family: SFProDisplay-Medium;
white-space: nowrap;
line-height: 21px;
text-align: center;
text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
margin-left: 20px;
}

.wallet-close {
    height: 20px;
    background-color: rgba(0, 0, 0, 0);
    width: 20px;
    right: 20px;
    position:absolute;
}

.wallet-close-img {
    width: 20px;
    height: 20px;
    background: url(../images/close.png) 0px 0px no-repeat;
    background-size: 20px 20px;
}

.wallet-collect-icons {
    /* width: 100%; */
    height: 12px;
    /* margin: 8px auto; */
}

.wallet-group-icon {
    width: 12px;
    height: 12px;
}

.wallet-gray-icons {
    width: 320px;
    height: 16px;
    margin: 5px auto;
}

.wallet-word {
    overflow-wrap: break-word;
    color: rgba(170, 170, 170, 1);
    font-size: 14px;
    font-family: SFProDisplay-Regular;
    white-space: nowrap;
    line-height: 16px;
    margin-left: 5px;
}

.wallet-word-block {
    width: 56px;
    height: 16px;
    display: block;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    text-align: center;
}

.wallet-line {
    width: 24%;
    border-radius: 1px;
    margin: 0 2%;
    /* border-bottom: 1px solid rgba(43,46,53,1); */
}

.wallet-display {
    border-bottom: 1px solid rgba(43,46,53,1);
}

.wallet-hidden {
    border-bottom: 0px solid rgba(43,46,53,1);
}

.wallet-empty {
    height: 50px;
    width: 100%;
}
.wallet-message {
    width: 100%;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    color: rgba(43,46,43,1);
}

.wallet-line2 {
    width: 100%;
    height: 75px;
    border-bottom: 1px solid rgba(230, 230, 230, 1);
    margin: 0 auto;
}

.wallet-nfts {
    width: 100%;
    /* height: 75%; */
    margin: 10px auto;
    overflow-y: auto;
}

.wallet-nfts-list::-webkit-scrollbar {
    width: 2px;
}
.wallet-nfts-list::-webkit-scrollbar-thumb {
    background-color: #2B2E35;
    border-radius: 2px;
    border: 1px solid #2B2E35;
}
.wallet-nfts-list::-webkit-scrollbar-track {
    background: #FC844C;
}

.wallet-nfts-list {
width: 139px;
height: 224px;
border-radius: 5px;
background: url(../images/bg_shader.png) -22px -22px no-repeat;
margin: 5px auto;
}

.wallet-nft-img {
    z-index: 197;
    left: 0;
    top: 0;
    width: 139px;
}

.wallet-nft-container {
    z-index: 186;
    left: 0;
    top: 0;
    width: 139px;
    height: 224px;
    border-radius: 5px;
    overflow: hidden;
    background: url(../images/card_shadow.png) 100% no-repeat;
}
