.pcontent {
    z-index: 181;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    right: 0px;
    width: 360px;
    position: absolute;
    top: 0px;
}

.pcontent .player5 {
    z-index: 182;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    width: 360px;
    position: relative;
}

.pcontent .player6 {
    width: 360px;
    height: 100%;
}

.pcontent .player7 {
height: 60px;
background-color: rgba(43, 46, 53, 1);
box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
width: 360px;
}

.pcontent .player8 {
width: 327px;
height: 38px;
}

.pcontent .pmod6 {
    height: 38px;
    /* border: 0.6551724137931034px solid rgba(255, 255, 255, 1); */
    box-shadow: inset 1px 1px 1px 0px rgb(0 0 0 / 20%);
    border-radius: 50%;
    /* background: url(./img/SketchPng69854f0….png) -1px -1px no-repeat; */
    width: 38px;
    /* padding: 9px 0 0 10px;*/
}

.pcontent .psection11 {
    /* width: 19px;
    height: 22px; */
    width: 38px;
    height: 38px;
    background: url(../images/wallet.png) 0px 0px no-repeat;
    background-size: 38px 38px;
}

.pcontent .pinfo4 {
width: 78px;
height: 21px;
display: block;
overflow-wrap: break-word;
color: rgba(255, 255, 255, 1);
font-size: 18px;
font-family: SFProDisplay-Medium;
white-space: nowrap;
line-height: 21px;
text-align: center;
text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
margin: 9px 0 0 8px;
}

.pcontent .pmod7 {
height: 16px;
background-color: rgba(0, 0, 0, 0);
width: 16px;
margin: 11px 0 0 187px;
}

.pcontent .player9 {
width: 16px;
height: 16px;
background: url(../images/close.png) -2px -2px no-repeat;
background-size: 16px 16px;
}

.pcontent .player10 {
width: 320px;
height: 12px;
margin: 8px auto;
}

.pcontent .picon2 {
width: 10px;
height: 10px;
margin-top: 1px;
}

.pcontent .pgroup3 {
width: 12px;
height: 12px;
margin-left: 105px;
}

.pcontent .plabel2 {
width: 12px;
height: 11px;
margin-left: 94px;
}

.pcontent .player11 {
width: 320px;
height: 16px;
margin: 5px auto;
}

.pcontent .plabel3 {
width: 10px;
height: 10px;
margin-top: 4px;
}

.pcontent .pword7 {
width: 56px;
height: 16px;
display: block;
overflow-wrap: break-word;
color: rgba(51, 51, 51, 1);
font-size: 14px;
font-family: SFProDisplay-Medium;
white-space: nowrap;
line-height: 16px;
text-align: center;
margin-left: 4px;
}

.pcontent .pword8 {
width: 45px;
height: 16px;
display: block;
overflow-wrap: break-word;
color: rgba(170, 170, 170, 1);
font-size: 14px;
font-family: SFProDisplay-Regular;
white-space: nowrap;
line-height: 16px;
text-align: center;
margin-left: 5px;
}

.pcontent .picon3 {
width: 12px;
height: 12px;
margin: 3px 0 0 45px;
}

.pcontent .pword9 {
width: 52px;
height: 16px;
display: block;
overflow-wrap: break-word;
color: rgba(170, 170, 170, 1);
font-size: 14px;
font-family: SFProDisplay-Regular;
white-space: nowrap;
line-height: 16px;
text-align: left;
margin-left: 5px;
}

.pcontent .player12 {
width: 109px;
height: 2px;
border-radius: 1px;
background-color: rgba(43, 46, 53, 1);
margin: 11px 0 0 36px;
}

.pcontent .player13 {
width: 327px;
height: 1px;
background-color: rgba(230, 230, 230, 1);
margin:0 auto;
}

.pcontent .player14 {
    width: 327px;
    height: 75%;
    margin: 9px auto;
    overflow-y: auto;
}

.pcontent .player14::-webkit-scrollbar {
    width: 2px;
}
.pcontent .player14::-webkit-scrollbar-thumb {
    background-color: #2B2E35;
    border-radius: 2px;
    border: 1px solid #2B2E35;
}
.pcontent .player14::-webkit-scrollbar-track {
    background: #FC844C;
}

.pcontent .pblock4 {
width: 139px;
height: 224px;
border-radius: 5px;
background: url(../images/bg_shader.png) -22px -22px no-repeat;
margin: 5px auto;
}

.pcontent .pblock5 {
width: 139px;
height: 224px;
border-radius: 5px;
background: url(../images/bg_shader.png) -22px -22px no-repeat;
}

.pcontent .player15 {
width: 311px;
height: 224px;
margin: 16px 0 0 32px;
}

.pcontent .pouter2 {
width: 139px;
height: 224px;
border-radius: 5px;
background: url(../images/bg_shader.png) -22px -22px
    no-repeat;
}

.pcontent .pouter3 {
width: 139px;
height: 224px;
border-radius: 5px;
background: url(../images/bg_shader.png) -22px -22px no-repeat;
}

.pcontent .pimg1 {
z-index: 197;
left: 0;
top: 0;
width: 139px;
/* height: 155px; */
}

.pcontent .player17 {
z-index: 186;
left: 0;
top: 0;
width: 139px;
height: 224px;
border-radius: 5px;
overflow: hidden;
background: url(../images/card_shadow.png) 100% no-repeat;
}

.pwallet {
    height: 60px;
    /* background-color: rgba(43, 46, 53, 1); */
    box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 30%);
    width: 360px;
}

.pwlayer8 {
    width: 370px;
    height: 38px;
}

.pwlogowrapper {
    height: 38px;
    width: 38px;
    padding: 0;
}

.pwlogo {
    width: 32px;
    height: 32px;
    background: url(../images/wallet.png) 0px 0px no-repeat;
    background-size: 32px 32px;
}

.pwaddr {
    width: 380px;
    height: 21px;
    display: block;
    overflow-wrap: break-word;
    /* color: rgba(255, 255, 255, 1); */
    font-size: 14px;
    /* font-family: SFProDisplay-Medium; */
    white-space: normal;
    line-height: 21px;
    text-align: center;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 30%);
    margin: 5px 0 0 -15px;
}

#msg {
    width: 295px;
    height: 20px;
    color: #070012;
    text-align: center;
    font-size: 10px;
    margin-right: 5px;
}
.copy {
    height: 20px;
    border-radius: 4px;
    background-color: #ef4f4f;
    color: #fff;
    border: 0;
    width: 40px;
}